1. Webpack (imports/exports)
    Babel - перевод из нового синтаксиса в старый
    SCSS - препроцессор для CSS
    Eslint - для поддержки чистоты кодав процессе написания
    2 Modes - 2 режима сборки проекта
        - Dev (разработка)
            Dev Server - перезагрузка окна браузера при изменении кода
            SourceMaps - имходные карты для SCSS, где написали код или допустили ошибку
            Eslint - для поддержки чистоты кода
            Not Minified JS & CSS - не минифицируем
        - Prod (продакшн)
            Minified Code - минифицируем

2. GIT
    Production
        1.0.0 
        0--------
    Development
        1.0.2
        1---------- + --  PoolRequest (PR) - запрос на совмещение двух веток
        2--------------/ - после совмещения удаляется
        